{% extends 'base.html' %}

{% block extra_title %}Testing{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <nav id="home-navbar" id="home-navbar">
                <div class="row">
                    <div class="col-2">
                        <div id="logo">
                            <a href=""></a>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item mr-2">
                                    <a class="" href=""></a>
                                </li>
                                <li class="list-inline-item mr-2">
                                    <a class="" href=""></a>
                                </li>
                                <li class="list-inline-item mr-2">
                                    <a class="" href=""></a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item m-1">
                                    <a href="#"></a>
                                </li>
                                <li class="list-inline-item m-1">
                                    <a class="btn btn-sm btn-success" href=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}